<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style2.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="" crossorigin="anonymous">
  <title>Short Description about API</title>
</head>
<body>
<div th:fragmet="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">com19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMankup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/about">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/aboutapi">About API</a>
        <a class="nav-link" href="/login">Sign in</a>
        <a class="nav-link" href="/logout">Sign out</a>

      </div>
    </div>
  </nav>
</div>


  <div style="padding: 50px;">
<div>
  About the API there are 4 methods and they are as follows:</div>
<div>
  GET
  <br> POST
  <br>PUT
  <br>DELETE
</div>
<div>
  So, here I will be describing shortly how I used API (Screenshots can be found in github read.me section).
  <br>

  <br>GET- This method can be used by typing "/datalar/id" and the information of the writing ip can be appeared.
  <br>POST- This method is used by typing"/datalar/add" and the required information will be added to the server.
  <br>PUT- This method is used by typing"/datalar/id" the typed id's iformation can be changed.
  <br>DELETE- This method is activated by typing"/datalar/id" and selected id will be removed from the server.
  <br>
  <br>
  So, this was the short description about the API I used in this web application.
  For more information please read the read.me section in github.
</div>
  </div>
<div class="footer">This website is built by <a href="https://github.com/snezihoglu"><strong>Selma Nezihoglu</strong></a>.</div>
</body>
</html>